<p id="notice"><%= notice %></p>

<p>
  <b>Full name:</b>
  <%= @student.full_name %>
</p>

<p>
  <b>Title:</b>
  <%= @student.title %>
</p>

<p>
  <b>Age:</b>
  <%= @student.age %>
</p>

<p>
  <b>Bio:</b>
  <%= @student.bio %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
