%h1 Listing cookies

%table
  %tr
    %th Rescipe
    %th
    %th
    %th

  - @cookies.each do |cooky|
    %tr
      %td= cooky.rescipe
      %td= link_to 'Show', cooky
      %td= link_to 'Edit', edit_cooky_path(cooky)
      %td= link_to 'Destroy', cooky, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Cookie', new_cooky_path
