- model_class = Cookie
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:rescipe) + ':'
  %br
  = @cookie.rescipe

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), cookies_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_cookie_path(@cookie), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), cookie_path(@cookie), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
